NODE_ENV="development"
PORT=3000
HOST=0.0.0.0
MONGO_URI="mongodb://admin:adminpass@localhost:27017/recipes-mfvn?authSource=admin"

# JWT
JWT_SECRET="super-secret-change-me-in-production"
JWT_EXPIRES_IN=7d

# RATE LIMITING
RATE_LIMIT_AUTH_MAX=5
RATE_LIMIT_AUTH_WINDOW="3 minutes"
RATE_LIMIT_GLOBAL_MAX=100
RATE_LIMIT_GLOBAL_WINDOW="1 minute"

# MANAGEMENT
ROOT_ADMIN_EMAIL="root@example.com"
ROOT_ADMIN_PASSWORD="root0_Admin"
